/* VISUAL */
.visual {
    margin-top: 120px;
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.visual .inner {
    height: 646px;
    max-width: 1130px;
}

.visual .title {
    position: absolute;
    top: 7.1%;
    left: 2.5%;
}

.visual .title .btn {
    position: absolute;
    top: 209px;
    left: 26.5%;

}

.visual .cup1.image {
    position: absolute;
    bottom: 0;
    top: 11.8%;
    left: 35%;
}

.visual .cup2.image {
    position: absolute;
    bottom: 0;
    top: 33.5%;
    left: 18.5%;

}

.visual .spoon {
    position: absolute;
    bottom: 0;
    top: 15.6%;
    right: -9%;

}

.visual .fade-in {
    opacity: 0;
}


/* NOTICE */
/* NOTICE LINE */
.notice .notice-line {
    position: relative;
}

.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;

}

.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

.notice .notice-line .inner {
    height: 62px;
    display: flex;
}

.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
    height: 62px;
    flex-grow: 1;
    overflow: hidden;
}

.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner__left .swiper-slide:hover {
    text-decoration: underline;
}

.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-symbols-outlined {
    color: #fff;
    font-size: 30px;
}

.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-symbols-outlined {
    font-size: 30px;
}

.notice .notice-line .inner__right .toggle-promotion .material-symbols-outlined:hover {}

.notice .promotion {
    height: 693px;
    background-color: #f6f5ef;
    position: relative;
    overflow: hidden;
    transition: height .4s;
}

.notice .promotion.hide {
    height: 0;
}

.notice .promotion .swiper-container {
    width: calc(819px * 3 + 20px);
    /* width: calc(100% - 50px); */
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
    opacity: .5;
    transition: opacity 1s;
    position: relative;
}

.notice .promotion .swiper-slide-active {
    opacity: 1;
}

.notice .promotion .swiper-slide .btn,
.notice .promotion .swiper-slide-active .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;

}

.notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -480px;
}

.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
    
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
    background-color: #fff;
}

/* REWARDS */
.rewards {
    position: relative;
}

.rewards .bg-left,
.rewards .bg-right {
    width: 50%;
    height: 100%;
    background-color: #1e3932;
    position: absolute;
}

.rewards .bg-left {
    top: 0;
    left: 0;
}

.rewards .bg-right {
    top: 0;
    right: 0;
}

.rewards .inner {
    letter-spacing: 0.5px;
    background-color: #1e3932;
    height: 241px;
    background-repeat: no-repeat;
}

.rewards .inner img {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 176px;
}

.rewards .btn-group {
    position: absolute;
    width: 200px;
    top: 100px;
    right: 0;
    margin: -15px;

    display: flex;
}
.rewards .btn-group2 .btn{
    position: absolute;
    bottom: 40px;
    right: -10px;
    margin: -5px;
    padding: 5px;
    width: 197px;
    white-space: nowrap;

}

.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
    width: 110px;
}

.rewards .btn-group .btn.gift {
    margin-top: 40px;
    flex-grow: 1;
}

/* REWARDS txt */
.rewards .inner .info-cont {
    position: absolute;
    top: 5%;
    width: 50%;
    right: 300px;
    color: #fff;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.rewards .inner .info-cont h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.rewards .inner .info-cont strong {
    font-size: 17px;
}

.rewards .inner .info-cont .line {
    border-bottom: 1px solid #4b615b;
    margin-top: 20px;
    width: 155%;
}

.rewards .inner .info-cont p {
    font-size: 13px;
    margin-top: 20px;
}

.rewards .inner .info-cont span {
    font-size: 13px;
}

/* YOUTUBE VIDEO */

.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1920px * 9 /16 / -2);
}

.youtube .youtube__area::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;

}

.youtube .youtube__cover {
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube .inner {
    height: 700px;
}

.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 0;
}

.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: 150px;
}



/* SEASON PRODUCT */
.season-product {
    background-image: url("../images/season_product_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.season-product .inner {
    height: 100%;
}

.season-product .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
}

.season-product .inner .product {
    margin: 0;
    padding: 100px;
    border: 0;
}

.season-product .text-group {
    position: absolute;
    top: 200px;
    right: 200px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 362px;
}


.season-product .text-group .title {
    margin-bottom: 40px;
}



/* RESERVE COFFEE */
.reserve-coffee {
    background-image: url("../images/reserve_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.reserve-coffee .inner {
    height: 400px;
}

.reserve-coffee .reserve_logo {
    position: absolute;
    top: 110px;
    left: 0;
}

.reserve-coffee .text-group {
    position: absolute;
    top: 280px;
    left: 208px;

}
.reserve-coffee .product {
    position: absolute;
    right: -450px;
}


/* PICK YOUR FAVORITE */
.pick-your-favorite {
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.pick-your-favorite .inner {
    padding: 110px 0;
}

.pick-your-favorite .text-group {
    margin-left: 100px;
    display: flex;
    width: 362px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}


/* RESERVE STORE */
.reserve-store {
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-store .medal {
    width: 334px;
    height: 334px;
    perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
    position: absolute;
    width: 334px;
    height: 334px;
    backface-visibility: hidden;
    transition: 1s;
}

.reserve-store .medal .front {
    transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}

.reserve-store .medal .back {
    transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
    transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
}


/* FIND STORE  */
.find-store {
    background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner {
    height: 400px;
    overflow: hidden;
}
.find-store .texture0 {
    position: absolute;
    top: -9px;
    left: 365px;
}
.find-store .texture1 {
    position: absolute;
    top: 298px;
    right: 30px;
}

.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.find-store .picture {
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    position: absolute;
}

.find-store .picture1 {
    top: -60px;
    left: 0;
}

.find-store .picture2 {
    top: 150px;
    left: 250px;
}

.find-store .text-group {
    position: absolute;
    top: 100px;
    left: 600px;
}

.find-store .text-group .title {
    margin-bottom: 20px;
}

.find-store .text-group .description {
    margin-bottom: 20px;
}

/* AWARDS */
.awards {
    background-color: #272727;
}

.awards .inner {
    padding: 40px 0;
    overflow: hidden;
}

.awards .swiper-container {
    width: 100%;
    height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    color: #fff;
    opacity: .3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.awards .swiper-prev {
    left: -100px;
}
.awards .swiper-next {
    right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-prev:hover {
    background-color: #fff;
    color: #333;
}

.awards .swiper-container .swiper-wraper .swiper-slide {
    position: absolute;
    top: 10px;
    display: flex;
    width: 100%;
    height: 50px;
    left: 20%;
    margin-top: 25px;
}
#to-top {
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}